#root {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.pages_container {
  position: absolute;
  top: 100vh;
  right: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--body-background);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visible {
  animation: opacityAnimation 1s forwards;
}

.icon_whatsapp {
  position: fixed;
  z-index: 6;
  right: 20px;
  bottom: 20px;
  width: 80px;
  animation: rotateAnimation 4s infinite;
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8); /* Tamaño inicial más pequeño */
  }
  50% {
    opacity: 0.5;
    transform: scale(
      1.05
    ); /* Leve aumento de tamaño para un efecto de rebote */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Tamaño final normal */
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rowAnimation {
  0% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(25deg);
    scale: 1.1;
  }
  85% {
    transform: rotateZ(-25deg);
    scale: 1.1;
  }
  90% {
    transform: rotateZ(25deg);
    scale: 1.1;
  }
  95% {
    transform: rotateZ(-25deg);
    scale: 1;
  }
  100% {
    transform: rotateZ(0deg);
    scale: 1;
  }
}

@media (max-width: 750px) {
  .icon_whatsapp {
    right: 10px;
    width: 60px;
  }
}
